<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/4101baf8-90f0-4cc9-931c-0167b2ec559e/resourceGroups/rg-containerinstance/providers/Microsoft.ContainerRegistry/registries/opcontanerregistry</ResourceId>
    <ResourceName>opcontanerregistry</ResourceName>
    <ResourceGroup>rg-containerinstance</ResourceGroup>
    <Subscription>Microsoft Partner Network</Subscription>
    <RegistryUrl>https://opcontanerregistry.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d750ce1a-b077-474a-9c16-7ee13e4facf1</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>